/****************************************************************************
**
** POSKeyboard.rc -- Resource Script.
**
**     Date                   Modification                          Author
** -----------|----------------------------------------------------|----------
**  1999/03/20 Initial version.                                     C. Monroe
**  2013/10/03 Update license section and some version settings.
**  2015/02/07 Update license section.
**  2015/02/07 Version 1.14.001.
**  2020/06/01 Version 1.15.000.                                    K. Fukuchi
**             Added "OPOS" prefix to type library file name.
**  2021/12/02 Version 1.16.000.
**

*****************************************************************************
**
{{Begin License}}

Copyright 2015 Monroe Consulting Services, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

{{End License}}
*/

#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 2 resource.
//
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE
BEGIN
    "Resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE DISCARDABLE
BEGIN
    "1 TYPELIB ""OPOSPOSKeyboard.tlb""\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,16,000,0
 PRODUCTVERSION 1,16,000,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Author", "Curtiss R. Monroe\0"
            VALUE "BuildInformation", "OPOS 1.16. Build 000; 2021/12/02.\0"
            VALUE "CompanyName", "Monroe Consulting Services; Dayton OH\0"
#if !defined(_DEBUG)
            VALUE "FileDescription", "OPOS POSKeyboard Control\0"
#else
            VALUE "FileDescription", "OPOS POSKeyboard Control (Debug)\0"
#endif
            VALUE "FileVersion", "1.16.000.0\0"
            VALUE "InternalName", "OPOSPOSKeyboard\0"
            VALUE "OriginalFilename", "OPOSPOSKeyboard.OCX\0"
            VALUE "ProductName", "OPOS Common Controls (CRM/MCS, and modified by KF)\0"
            VALUE "ProductVersion", "1.16.000.0\0"
            VALUE "OLESelfRegister", "\0"
            VALUE "LegalCopyright", "Copyright 2015; MCS; Dayton OH, USA. See full text of license in the 'Comments' item.\0"
            VALUE "Comments",    "{Start}\r\n"
	"Copyright 2015 Monroe Consulting Services, Inc.\r\n"
	"\r\n"
	"Licensed under the Apache License, Version 2.0 (the 'License');\r\n"
	"you may not use this file except in compliance with the License.\r\n"
	"You may obtain a copy of the License at\r\n"
	"\r\n"
	"    http://www.apache.org/licenses/LICENSE-2.0\r\n"
	"\r\n"
	"Unless required by applicable law or agreed to in writing, software\r\n"
    "distributed under the License is distributed on an 'AS IS' BASIS,\r\n"
	"WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\r\n"
	"See the License for the specific language governing permissions and\r\n"
	"limitations under the License.\r\n"
    "{End}\r\n\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_OPOSPOSKEYBOARD         BITMAP  DISCARDABLE     "..\Bitmaps\COPOSKeyboard.bmp"
IDB_OPOSPOSKEYBOARD2        BITMAP  DISCARDABLE     "..\Bitmaps\COPOSKeyboard2.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// REGISTRY
//

IDR_OPOSPOSKEYBOARD         REGISTRY DISCARDABLE    "POSKeyboard.rgs"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_PROJNAME            "POSKeyboard"
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//
1 TYPELIB "OPOSPOSKeyboard.tlb"

/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

// End POSKeyboard.rc
