<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="OpenPOS.Devices.OPOSFiscalPrinter"
                           publicKeyToken="ad2c9a67c3439201"
                           culture="neutral" />
         <bindingRedirect oldVersion="1.15.0.0"
                          newVersion="1.16.0.0"/>
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
